@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
body{
    background: rgba(235, 238, 243, 1);
    font-family: 'Inter';
    margin: 0;
}
main {
    text-align: -webkit-center;
}